<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Student Sorting</h1>
      <table>
        <tr>
          <th>Student Name</th>
          <th>Date of Birth</th>
          <th>Majors</th>
          <th>Credits</th>
          <th>GPA</th>
          <th>Student Rank</th>
        </tr>
        <tr ng-repeat="student in students | orderBy: 'creds'">
          <td>{{ student.firstName }} {{ student.lastName }} </td>
          <td>{{student.dateOfBirth}}</td>
          <td>{{student.major1}} \\ {{student.major2}}</td>
          <td>{{student.creds}}</td>
          <td>{{student.GPA}}</td>
          <td>{{student.rank}}</td>
        </tr>
      </table>
    </div>
  </div>
  <br>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="student.getABC()">Sort alphabetically by last name</button>
        <button type="submit" class="btn btn-primary" ng-click="student.getFirstABC()">Sort alphabetically by first name</button>
        <button type="submit" class="btn btn-primary" ng-click="student.getDOB()">Sort by date of birth</button>
        <button type="submit" class="btn btn-primary" ng-click="student.getMajors()">Sort by primary major</button>
        <button type="submit" class="btn btn-primary" ng-click="student.getCredits()">Sort by completed credits</button>
        <button type="submit" class="btn btn-primary" ng-click="student.getAllStuGPA()">Display GPA</button>
        <button type="submit" class="btn btn-primary" ng-click="student.getStudentRank()">Sort by Student Rank</button>
      </span>
  <br>

  <h1>Filter Students By Course</h1>

      <div>
        <span class="input-group">
          <input type="text" style="width: 500px" class="form-control" placeholder="Search for Students by Course" ng-model = "studentCourse">
          <button type="submit" class="btn btn-primary" ng-click="student.findStudentByCourse()" >Show students</button>
        </span>
        <br>
        <p> Students in {{studentCourse}}: </p>
      </div>

  <ul ng-repeat="student in students2">
    <li>{{student.firstName}}  {{student.lastName}}</li>
  </ul>




<h1>Student Details and Courses</h1>
  <p>Click on a student below to show their details and courses!</p>
  <ul ng-repeat = "student in students" ng-click = "expandDetails(student)">
    <li class = "name">{{student.firstName}} {{student.lastName}}</li>
    <li ng-show = "student.show">
  <ul>
    <li><b>Gender:</b> {{student.gender}}</li>
    <li><b>Date of Birth:</b> {{student.dateOfBirth}}</li>
    <li><b>Email:</b> {{student.email}}</li>
    <li><b>Phone Number:</b> {{student.phone}}</li>
    <li><b>Address:</b> {{student. address}}</li>
    <li><b>Courses:</b></li>
    <ul ng-repeat = "course in student.courses">
      <li>{{course.course.name}}</li>
      <ul>
        <li><b>Grade:</b> {{course.grade}}</li>
        </ul>
      </ul>
  </ul>
    </li>
</ul>
</div>
