
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Students:</h1>
      <ul>
        <li ng-repeat="student in students">
        {{ student.firstName }} {{ student.lastName }}
        </li>
      </ul>
    </div>
  </div>

  <br>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="student.ABCSort()">Sort alphabetically</button>
        <button type="submit" class="btn btn-primary" ng-click="student.DOBSort()">Sort by date of birth</button>
        <button type="submit" class="btn btn-primary" ng-click="student.MajorsSort()">Sort by major</button>
      </span>
</div>
